* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  
    background: url(../images/cars\ background2.jpg) no-repeat center center fixed;
    background-size: cover;

}

.cell1 .posts__list .posts__list-item{
    padding: 1rem;
    display: inline-flex;
    text-align: center;
    background-color: black;
    color: rgb(224, 219, 219);
    text-transform: uppercase;
    list-style-type: none;
    overflow: hidden;
}

.cell1 .posts__list .posts__list-item a {
    color: red;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
}

.header__title1 {
    margin-top: 0rem;
    text-align: center;
    font-family: 'Monofett';
    font-size: 8vw;
    color: rgb(126, 20, 69);
}

.header__title2{
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
    text-align: center;
    font-size: 5vh;

    
} 
.header__nav-list{
    
    list-style-type: none;
    display: inline-flex;
    text-align: center;
   margin-top: 8px;
   margin-bottom: 0px;
  
    
}


.header__nav-link{
    
text-align: auto;
    color: white;
    padding: 3vh;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8vw;
}

.header__nav{
width: 100%;
  height: 8.5vh;
  position: fixed;
   bottom: 0px;
  left: 0px;
  background-color: rgba(182, 174, 174, 0.699);
  overflow-x: hidden;
  padding-bottom: 0px;


}

