body{
  
    background: url(../images/mazdabackground.jpg) no-repeat center center fixed;
    background-size: cover;

}
.special{
    font-size: 10rem ;
    font-family: 'Italianno', cursive;
    font-weight: 10;
}

.header__text{
    height: 90vh;
    display: grid;
    grid-template-columns:50%;
    grid-template-rows: 50% ;
    
}
.header__title1{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
    grid-column: 2;
    text-align: center;
    font-size: 4rem ;
}

.header__title2{
    grid-row:2;
    grid-column:1;
    text-align: center;
    font-family: 'Monofett';
    font-size: 10rem;
    color: rgb(126, 20, 69);
}
.header__nav-list{
    
    list-style-type: none;
    display: inline-flex;
    text-align: center;
   margin-top: 8px;
   margin-bottom: 0px;
  
    
}

.container {
    text-align: center;
}

.header__nav-link{
    

    color: white;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
}

.header__nav{
width: 100%;
  height: 80px;
  position: fixed;
   bottom: 0px;
  left: 0px;
  background-color: rgba(182, 174, 174, 0.699);
  overflow-x: hidden;
  padding-bottom: 0px;


}

