<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Hashtags</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">All Hashtags</h1>

        <section>
            <h2>Hashtags</h2>
            <ul class="hashtags__list">
                <li th:each="hashtag: ${hashtags}" class="hashtags__list-item">
                    <a th:text="${hashtag.tagName}" th:href="@{'/hashtag/'+${hashtag.tagName}}"
                       class="hashtag__link">link to all posts with a requested tag name</a>
                </li>
            </ul>
        </section>

        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-list-item">
                    <a href="/" class="header__nav-link">Home</a>

                </li>
            </ul>
        </nav>
    </header>
</div>
</body>

</html>