<!DOCTYPE html>
<html 
lang="en" 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtags</title>
    <link rel="stylesheet" href="/css/all-layout.css" />
    <link rel="stylesheet" href="/css/all-style.css" />
    <link
      rel="stylesheet"
      href="/src/main/resources/static/css/all-layout.css"
    />
    <link
      rel="stylesheet"
      href="/src/main/resources/static/css/all-style.css"
    />
</head>

<body>
<div class="container">
    <div class="grid">
        <section class="all__list">
            <h1 class="title1">Hashtags</h1>
            
            <ul>
             <li th:each="hashtag: ${hashtags}" class="link">
                    <a th:text="'#'+${hashtag.tagName}" th:href="@{'/hashtag/'+${hashtag.id}}"
                     > hashtag<br>hashtag<br>hashtag<br>
                    </a>
                </li>
            </ul>
        </section>

        <section class="add__box">
            <h2 class="title2">Add a Hashtag</h2>
            <form action="hashtag/add" method="Post" class="box__title">
                <label for="new-hashtag__hashtag-input" class="form_label"></label>
                <input type="text" name="hashtagName" id="new-hashtag__hashtag-input">
                <button type="submit">Submit</button>
            </form>
        </section>
    </div>

    <div class="links__container">
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li><a href="/" class="header__nav-link">Home</a></li>
            <li><a href="/all-authors" class="header__nav-link">Authors</a></li>
            <li><a href="/all-genres" class="header__nav-link">Genres</a></li>
            <li>
              <a href="/all-hashtags" class="header__nav-link">Hashtags</a>
            </li>
            <li>
              <a href="/all-posts" class="header__nav-link">Blog Posts</a>
            </li>
          </ul>
        </nav>
      </div>
</div>
</body>

</html>