<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">All Posts</h1>

        <section>
            <h2>Posts</h2>
            <ul class="posts__list">
                <li th:each="post: ${posts}" class="posts__list-item">
                    <a th:text="${post.title}" th:href="@{'/post/'+${post.title}}"
                       class="posts__link">Post</a>
                </li>
            </ul>
        </section>

        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-list-item">
                    <a href="/" class="header__nav-link">Home</a>
                    <a href="/post/single-post-title" class="header__nav-link">Single Post</a>
                </li>
            </ul>
        </nav>
    </header>


</div>
</body>

</html>