<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, 
    initial-scale=1.0">
    

    <title>Home</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/layout.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>

<body>
    
        <div class="header__text">
          <h1 class="header__title1"><em class="special">Special</em><br>Cars Inc.</h1>
        <h1 class="header__title2">BLOGS</h1>  
        </div>
        
    

<div class="container">
    
        
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li><a href="/" class="header__nav-link">Home</a></li>
                <li><a href="/all-authors" class="header__nav-link">Authors</a></li>
                <li><a href="/all-genres" class="header__nav-link">Genres</a></li>
                <li><a href="/all-hashtags" class="header__nav-link">Hashtags</a></li>
                <li><a href="/all-posts" class="header__nav-link">Blog Posts</a></li>

            </ul>
        </nav>
  
</div>
</body>

</html>