<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Genre</h1>

        <section>
            <h2 th:text="${genre.genreName}" class="genre__name">genre name placeholder</h2>

            <ul class="genres-of-posts__list">
                <li th:each="post: ${genre.posts}" class="genre__item">
                    <a th:text="${post.title}"
                       th:href="@{'/post/'+${post.title}}" class="genre-of-post__link"> tagged post placeholder</a>
                </li>
            </ul>
        </section>

        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-list-item">
                    <a href="/" class="header__nav-link">Home</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
</body>

</html>